	@font-face {
    font-family: 'muller_narrowextrabold';
    src: url('fonts/muller-narrow/mullernarrow-extrabold-webfont.woff2') format('woff2'),
         url('fonts/muller-narrow/mullernarrow-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'muller_narrowextrabold_italic';
    src: url('fonts/muller-narrow/mullernarrow-extrabolditalic-webfont.woff2') format('woff2'),
         url('fonts/muller-narrow/mullernarrow-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'muller_narrowlight';
    src: url('fonts/muller-narrow/mullernarrow-light-webfont.woff2') format('woff2'),
         url('fonts/muller-narrow/mullernarrow-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'muller_narrowlight_italic';
    src: url('fonts/muller-narrow/mullernarrow-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/muller-narrow/mullernarrow-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}





@font-face {
    font-family: 'phenomenablack';
    src: url('fonts/phenomena/phenomena-black-webfont.woff2') format('woff2'),
         url('fonts/phenomena/phenomena-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'phenomenabold';
    src: url('fonts/phenomena/phenomena-bold-webfont.woff2') format('woff2'),
         url('fonts/phenomena/phenomena-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'phenomenaextrabold';
    src: url('fonts/phenomena/phenomena-extrabold-webfont.woff2') format('woff2'),
         url('fonts/phenomena/phenomena-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'phenomenaextralight';
    src: url('fonts/phenomena/phenomena-extralight-webfont.woff2') format('woff2'),
         url('fonts/phenomena/phenomena-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'phenomenalight';
    src: url('fonts/phenomena/phenomena-light-webfont.woff2') format('woff2'),
         url('fonts/phenomena/phenomena-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'phenomenaregular';
    src: url('fonts/phenomena/phenomena-regular-webfont.woff2') format('woff2'),
         url('fonts/phenomena/phenomena-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'phenomenathin';
    src: url('fonts/phenomena/phenomena-thin-webfont.woff2') format('woff2'),
         url('fonts/phenomena/phenomena-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'choplinextralight-demo';
    src: url('fonts/choplin/choplin-extralight-demo-webfont.woff2') format('woff2'),
         url('fonts/choplin/choplin-extralight-demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'choplinmedium-demo';
    src: url('fonts/choplin/choplin-medium-demo-webfont.woff2') format('woff2'),
         url('fonts/choplin/choplin-medium-demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}